{% extends 'base_template.html' %}

{% block title %}
Perfiles en sección video
{% endblock %}

{% block link %}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='css/cat_video.css') }}">
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center" id="perfiles">

            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="https://via.placeholder.com/150" class="card-img-top rounded-circle mx-auto mt-3" alt="Foto de Perfil" style="width: 100px;">
                    <div class="card-body text-center">
                        <h5 class="card-title">Juan Pérez</h5>
                        <p class="card-text font-weight-bold">Desarrollador Web</p>
                        <p class="card-description">
                            Juan es un desarrollador web con más de 5 años de experiencia en la creación de aplicaciones web y sitios responsivos.
                        </p>
                    </div>
                    <!-- Redes Sociales -->
                    <div class="social-icons text-center mb-3">
                        <a href="#" class="mx-2"><i class="fab fa-linkedin"></i></a>
                        <a href="#" class="mx-2"><i class="fab fa-github"></i></a>
                        <a href="#" class="mx-2"><i class="fas fa-envelope"></i></a>
                    </div>
                    <!-- Valoraciones -->
                    <div class="rating text-center mb-3">
                        &#9733; &#9733; &#9733; &#9733; &#9734; <!-- 4 estrellas -->
                        <p>Basado en 15 opiniones</p>
                    </div>
                    <!-- Especialidades -->
                    <div class="skills text-center mb-3">
                        <span class="badge badge-primary">JavaScript</span>
                        <span class="badge badge-secondary">Python</span>
                        <span class="badge badge-success">Diseño Gráfico</span>
                    </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
