env/
venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

.vscode/

static/assets/

.env
.env/
.venv/ 

migrations/

config.py

2-yo/
aaaa/
archivos_prueba/
media/
errors.py