.main {
    height: 130vh;
}

h2 {
    text-align: center;
    margin-top: 20px;
}

.form_edit {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

.profile-picture {
    align-self: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 4px solid rgba(0, 0, 0, 0.479);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    margin-bottom: 5px;
}

.nuevo {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    margin-bottom: 6px;
}