body{ 
    margin: 0;
    padding: 0;
}

a {
    color: rgb(0, 0, 0);
}

.content {
    margin: 0;
    padding: 0;
    background-color: rgb(250, 242, 244);
    height: 80vh;
}

/** publicaciones **/

/* .main-post {

} */

/** personas **/

.main-personas {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;

    padding: 30px;

}

/* perfiles */
#perfiles {
    display: flex;
    justify-items: stretch;
    gap: 20px;
    justify-content: center;
    margin: 5px;
}

.profile {
    margin: 1rem;
    width: 100%;
    background-color: #fffafc;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    padding: 1rem;
    transition: transform 0.3s;
    cursor: pointer;
}

.profile:hover {
    transform: scale(1.05);
    color: rgb(199, 26, 69);
    border: 4px solid rgba(113, 0, 36, 0.479);
}

.profile img {
    border-radius: 50%;
    border: 4px solid rgba(113, 0, 36, 0.479);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}