body{
    margin: 0 auto;
    padding: 0;
    height: 100vh;
    min-height: 100vh;
}


.content {
    margin: 0;
    padding: 0;
    background-color: rgb(250, 242, 244);
    height: 100%;
    min-height: max-content;
    #div-personas a {
        color: rgb(0, 0, 0);
    }
}

.subtitle {
    margin-top: 3rem;
    margin-left: 5rem;
}

/** nav **/

.nav {
    margin-top: 20px;
    width: 50%;
    button:hover {
        color: #ff006a;
    }
}

.color {
    background-color: rgb(61, 0, 17);
}

/** publicaciones **/
/* #div_post {
    margin-top: -20px;
} */

.btn-post {
    text-align: center;
    border-radius: 30px;
    width: 200px;
    height: 50px;
    margin-bottom: 25px;
    position: sticky;
    top: 90%;
    left: 85%;
}

.main-posteo {
    display: flex;
    margin: 0 auto;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.main-post {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}

.card {
    display: flex;
    justify-items: stretch;
    gap: 16px;
    justify-content: center;
    margin: 2rem;
}

.card-text {
    border: 1px solid rgba(128, 128, 128, 0.562);
}

/** personas **/

.main-personas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px;
}

/* perfiles */
#perfiles {
    display: flex;
    justify-items: stretch;
    gap: 20px;
    justify-content: center;
    margin: 5px;
    overflow: visible;
}

.profile {
    margin: 1rem;
    width: 100%;
    background-color: #fffafc;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    padding: 1rem;
    transition: transform 0.3s;
    cursor: pointer;
    overflow: hidden
}

.profile:hover {
    transform: scale(1.05);

    border: 4px solid #d97878;
}

.profile img {
    border-radius: 100%;
    border: 2px solid rgb(143, 1, 34);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 120px;
    height: 120px;
    object-fit: cover;
    object-position: center;
}