body{ 
    margin: 0;
    padding: 0;
}


.content {
    margin: 0;
    padding: 0;
    background-color: rgb(250, 242, 244);
    height: 80vh;
    a {
        color: rgb(0, 0, 0);
    }
}

/** nav **/

.nav {
    margin-top: 20px;
    width: 50%;
    button:hover {
        color: #ff006a;
    }
}

.color {
    background-color: rgb(61, 0, 17);
}

/** publicaciones **/

.btn-post {
    text-align: center;
    border-radius: 30px;
    width: 200px;
    height: 50px;
    margin-bottom: 20px;
    position: absolute;
    top: 80%;
    left: 85%;
}

.main-post {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px;
}

.card {
    display: flex;
    justify-items: stretch;
    gap: 20px;
    justify-content: center;
    margin: 3rem;
}

/** personas **/

.main-personas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px;
}

/* perfiles */
#perfiles {
    display: flex;
    justify-items: stretch;
    gap: 20px;
    justify-content: center;
    margin: 5px;
    overflow: visible;
}

.profile {
    margin: 1rem;
    width: 100%;
    background-color: #fffafc;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    padding: 1rem;
    transition: transform 0.3s;
    cursor: pointer;
}

.profile:hover {
    transform: scale(1.05);

    border: 4px solid #d97878;
}

.profile img {
    border-radius: 50%;
    border: 2px solid rgb(143, 1, 34);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}