body {
    margin: 0;
    padding: 0;
}

.alto_fondo {
    height: 80vh;
    background-color: rgb(250, 242, 244);
    padding-top: 8rem;
}

.container {
    max-width: 1200px;
    display: flex;
    background-color: #fffafc;
    border-radius: 8px;
    overflow: hidden;
    border: 4px solid rgba(113, 0, 36, 0.479);
}

.profile-sidebar {
    width: 300px; /* Ancho fijo */
    min-width: 300px; /* Asegura que no sea más pequeño */
    background-color: #fffafc;
    padding: 20px;
    border-right: 1px solid #e0e0e0;
    box-sizing: border-box; /* Asegura que padding no cambie el tamaño */
}


.profile-header {
    text-align: center;
}

.profile-picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 4px solid rgba(113, 0, 36, 0.479);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.about_ {
    text-align: start;
}

.user-details {
    margin-top: 20px;
}

.user-details h1 {
    margin: 0;
    font-size: 24px;
    margin-bottom: 4px;
}

.age {
    color: #4CAF50;
}

.profile-main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.profile-nav {
    display: flex;
    border-bottom: 1px solid #e0e0e0;
}

.nav-item {
    padding: 10px 20px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #666;
}

.nav-item.active {
    border-bottom: 2px solid #f32160;
    color: #c30a54;
}

.profile-content {
    padding: 20px;
    overflow-y: auto;
}

.tab-content {
    display: none;
}

.utm a{
    margin-left: 5rem;
    margin-bottom: 2rem;
}

.tab-content.active {
    display: block;
}

#profile h2{
    color: #333;
}

ul {
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
    color: #666;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .profile-sidebar {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid #e0e0e0;
    }
}