{% extends 'base_template.html' %}

{% block title %}
Perfiles en sección video
{% endblock %}

{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/cat_video.css') }}">
{% endblock %}

{% block content %}
    <div class="main">
    {% for proveedor in proveedores %}
        <section id="perfiles">
            <!-- enviar la id del proveedor de alguna forma  -->
            <a href="/perfil/view/{{proveedor.id}}">
                <div class="profile" onclick="showProfile('perfil1')">
                    <img src="https://via.placeholder.com/150" alt="Foto de Perfil">
                    <div class="summary">
                        <h3>{{ proveedor.usuario.nombre }} {{ proveedor.usuario.apellido }}</h3>
                        <p>{{ proveedor.usuario.correo }}</p>
                        <p>{{ proveedor.categoria }}</p>
                    </div>
                </div>
            </a>
        </section>
    {% endfor %}
    </div>

        <!-- <div id="fullProfile" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeProfile()">&times;</span>
                <h2 id="fullName"></h2>
                <p id="fullArea"></p>
                <p id="fullDescription"></p>
            </div>
            </div>
        </div> -->

    <!-- <script src="{{ url_for('static', filename='js/cat_video.js') }}"></script> -->
{% endblock %}
