{% extends 'base_template.html' %}

{% block title %}
Editar Perfil
{% endblock %}

{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/editar_usuario.css') }}">
{% endblock %}

{% block content %}
<div class="main">
    <h2>Editar Usuario</h2>

    <form action="/perfil/me/editar" class="form_edit" method="POST" enctype="multipart/form-data" >
        {% if usuario.foto_perfil %}
        <style>#subir_foto{display: none;}</style>
        <div id="mostar_foto">
            <img src="{{ url_for('static', filename=usuario.foto_perfil) }}" alt="{{ usuario.foto_perfil }}" class="profile-picture">
            <a href="#" id="cambiar_div" class="btn btn-secondary">Cambiar foto de perfil</a>
        </div>
        {% endif %}


        <div id="subir_foto">
        <label for="pfp">Sube una foto</label>
        <input type="file" name="photo" accept=".jpg, .jpeg, .png, .gif">
        </div>
        
        <label for="nombre">Nombre:</label>
        <input type="text" class="nuevo" name="nombre" value="{{ usuario.nombre }}" required>

        <label for="apellido">Apellido:</label>
        <input type="text" class="nuevo" name="apellido" value="{{ usuario.apellido }}">

        <label for="correo">Correo Electrónico:</label>
        <input type="email" class="nuevo" name="correo" value="{{ usuario.correo }}" required>

        <label for="bio">Biografia</label>
        {% if not usuario.biografia %}
        <input type="text" class="nuevo" name="bio" placeholder="cuentanos sobre ti">
        {% elif usuario.biografia: %}
        <input type="text" class="nuevo" name="bio" value="{{ usuario.biografia }}">
        {% endif %}

        {% if usuario.miembro == True: %}
            <label for="edad">Edad:</label>
            <input type="text" class="nuevo" name="edad" value="{{ proveedor.edad }}" required>

            <label for="telefono">Telefono:</label>
            <input type="text" class="nuevo" name="telefono" value="{{ proveedor.telefono }}" required>

            <label for="categoria">Categoria: </label>
            <select name="categoria" class="nuevo" id="categoria">
                <option value="{{ proveedor.categoria }}">{{ proveedor.categoria }}</option>
                <option value="Editor de videos">Editor de videos</option>
                <option value="Artista Digital">Artista Digital</option>
                <option value="Productor músical">Productor músical</option>
                <option value="Desarrollador Web">Desarrollador Web</option>


            </select>
        {% endif %}

        <button type="submit" id="subir" class="btn btn-primary">Guardar Cambios</button>
        <button type="button" class="btn btn-danger" onclick="window.location.href='/perfil/me'">Cancelar</button>
    </form>
</div>
<script src="{{ url_for('static', filename='js/editar_perfil.js') }}"></script>


{% endblock %}

<!-- <script>

</script> -->
