{% extends 'base_template.html' %}

{% block title %}
Editar Perfil
{% endblock %}

{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/editar_usuario.css') }}">
{% endblock %}

{% block content %}
<div class="main">
    <h2>Editar Usuario</h2>

    <form action="/perfil/me/editar" class="form_edit" method="POST" enctype="multipart/form-data" >

        <!--! problemas con la foto de perfil  -->
        {% if usuario.foto_perfil %}
            <div class="tab-content">
                <img src="{{ url_for('static', filename=usuario.foto_perfil) }}" alt="{{usuario.foto_perfil}}" class="profile-picture">
                <button tipeclass="btn btn-primary">Editar foto de perfil</button>
                <button class="btn btn-secondary">borrar foto de perfil</button>
            </div>
        {% elif usuario.foto_perfil is None %}
            <div class="tab-content active">
                <label for="pfp">Sube una foto de perfil o cambiala</label>
                {{ usuario.foto_perfil}}
                <input type="file" name="photo" accept=".jpg, .jpeg, .png, .gif" >
            </div>
        {% endif %}

        <label for="nombre">Nombre:</label>
        <input type="text" class="nuevo" name="nombre" value="{{ usuario.nombre }}" required>

        <label for="apellido">Apellido:</label>
        <input type="text" class="nuevo" name="apellido" value="{{ usuario.apellido }}">

        <label for="correo">Correo Electrónico:</label>
        <input type="email" class="nuevo" name="correo" value="{{ usuario.correo }}" required>

        <label for="bio">Biografia</label>
        <input type="text" class="nuevo" name="bio" value="{{ usuario.biografia }}">

        {% if usuario.miembro == True: %}
            <label for="edad">Edad:</label>
            <input type="text" class="nuevo" name="edad" value="{{ proveedor.edad }}" required>

            <label for="telefono">Telefono:</label>
            <input type="text" class="nuevo" name="telefono" value="{{ proveedor.telefono }}" required>

            <label for="categoria">Categoria: </label>
            <select name="categoria" class="nuevo" id="categoria">
                <option value="{{ proveedor.categoria }}">{{ proveedor.categoria }}</option>
                <option value="Editor de videos">Editor de videos</option>
                <option value="Artista Digital">Artista Digital</option>
                <option value="Productor músical">Productor músical</option>
                <option value="Desarrollador Web">Desarrollador Web</option>


            </select>
        {% endif %}

        <button type="submit" id="subir" class="btn btn-primary">Guardar Cambios</button>
        <button type="button" class="btn btn-danger" onclick="window.location.href='/perfil/me'">Cancelar</button>
    </form>
</div>



{% endblock %}