{% extends 'base_template.html' %}

{% block title %}
Editar Perfil
{% endblock %}

{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/editar_usuario.css') }}">
{% endblock %}

{% block content %}
<div class="main">
    <h2>Editar Usuario</h2>

    <form action="/perfil/me/editar" class="form_edit" method="POST" enctype="multipart/form-data" >

        
        <div id="profile-picture-container" class="tab-content {% if usuario.foto_perfil %}active{% else %}hidden{% endif %}">
            {% if usuario.foto_perfil %}
                <img src="{{ url_for('static', filename=usuario.foto_perfil) }}" alt="{{ usuario.foto_perfil }}" class="profile-picture">
                <a href="#" class="btn btn-secondary" onclick="showUpload()">Cambiar foto de perfil</a>
            {% else %}
                <label for="pfp">Sube una foto de perfil o cámbiala</label>
                <input type="file" name="photo" accept=".jpg, .jpeg, .png, .gif">
                <a href="#" class="btn btn-secondary" onclick="showProfile()">Cancelar</a>
            {% endif %}
        </div>
        
        <div id="upload-picture-container" class="tab-content {% if usuario.foto_perfil is not defined or usuario.foto_perfil == '' %}active{% else %}hidden{% endif %}" style="display: none;">
            <label for="pfp">Sube una foto de perfil o cámbiala</label>
            <input type="file" name="photo" accept=".jpg, .jpeg, .png, .gif">
            <a href="#" class="btn btn-secondary" onclick="showProfile()">Cancelar</a>
        </div>

        <style>
        .hidden {
            display: none;
        }
        </style>





        <label for="nombre">Nombre:</label>
        <input type="text" class="nuevo" name="nombre" value="{{ usuario.nombre }}" required>

        <label for="apellido">Apellido:</label>
        <input type="text" class="nuevo" name="apellido" value="{{ usuario.apellido }}">

        <label for="correo">Correo Electrónico:</label>
        <input type="email" class="nuevo" name="correo" value="{{ usuario.correo }}" required>

        <label for="bio">Biografia</label>
        <input type="text" class="nuevo" name="bio" value="{{ usuario.biografia }}">

        {% if usuario.miembro == True: %}
            <label for="edad">Edad:</label>
            <input type="text" class="nuevo" name="edad" value="{{ proveedor.edad }}" required>

            <label for="telefono">Telefono:</label>
            <input type="text" class="nuevo" name="telefono" value="{{ proveedor.telefono }}" required>

            <label for="categoria">Categoria: </label>
            <select name="categoria" class="nuevo" id="categoria">
                <option value="{{ proveedor.categoria }}">{{ proveedor.categoria }}</option>
                <option value="Editor de videos">Editor de videos</option>
                <option value="Artista Digital">Artista Digital</option>
                <option value="Productor músical">Productor músical</option>
                <option value="Desarrollador Web">Desarrollador Web</option>


            </select>
        {% endif %}

        <button type="submit" id="subir" class="btn btn-primary">Guardar Cambios</button>
        <button type="button" class="btn btn-danger" onclick="window.location.href='/perfil/me'">Cancelar</button>
    </form>
</div>
<script src="{{ url_for('static', filename='js/editar_perfil.js') }}"></script>


{% endblock %}

<!-- <script>

</script> -->
