<!-- principal | index -->

{% extends "base_template.html" %}

{% block title %}
    DigiLapp
{% endblock %}

{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}
<div class="content">
    <div class="intro">
        <div class="titulo caveat-titulo">
            <strong><p>DigiLapp</p></strong> 
            <img src="{{ url_for('static', filename='img/gigilapp.png') }}" width="220px" alt="logo-diginnex">
        </div>
        <div class="lema bebas-neue-regular">
            <p>Descubre, conecta y resuelve.</p>
        </div>
    </div>




    <div class="main">
        <!-- Servicios -->
        <section class="main-section" id="categorias">
            <h2>Explorar categorias:</h2>

            <a href="{{ url_for('manejo_categorias', cat='Editor de videos') }}">
                <!-- *categoria Editor de videos* -->
                <div class="service" >
                    <div class="service-item">
                        <h3>Editores de videos</h3>
                    </div>
                    <div class="service-img">
                        <img src="{{url_for('static', filename='img/editando-video.jpg')}}" alt="editando video">
                    </div>
                    <div class="overlay">
                        <h4>Encuentra editores de video creativos que transforman tus ideas en contenido visual atractivo. 
                            Desde proyectos personales hasta comerciales, 
                            nuestros freelancers están listos para dar vida a tu visión.</h4>
                    </div>
                </div>
            </a>

            <a href="{{ url_for('manejo_categorias', cat='Artista Digital') }}">
                <!-- *Categoria Artista Digital* -->
                <div class="service">
                    <div class="service-item">
                        <h3>Artistas Digitales</h3>
                    </div>
                    <div class="service-img">
                        <img src="{{url_for('static', filename='img/Mejores-tabletas-graficas.jpg')}}" alt="dibujando en tableta grafica">
                    </div>
                    <div class="overlay">
                        <h4>Conecta con artistas digitales que pueden crear identidades visuales impactantes. 
                            Ya sea que necesites un logotipo, ilustraciones o materiales de marketing, 
                            aquí encontrarás el talento adecuado.</h4>
                    </div>
                </div>
            </a>

            <a href="{{ url_for('manejo_categorias', cat='Productor músical') }}">
                <!-- *Categoria Productor músical* -->
                <div class="service">
                    <div class="service-item">
                        <h3>productores músicales</h3>
                    </div>
                    <div class="service-img">
                        <img src="{{url_for('static', filename='img/haciedo-musica-digital.png')}}" alt="haciendo musica">
                    </div>
                    <div class="overlay">
                        <h4>Descubre productores musicales y editores de audio que pueden llevar tu proyecto al siguiente nivel.
                            Desde música original hasta edición de podcasts,
                            estos freelancers podran hacer destacar tu proyecto.</h4>
                    </div>
                </div>
            </a>

            <a href="{{ url_for('manejo_categorias', cat='Desarrollador Web') }}">
                <!-- *Categoria Desarrollador Web* -->
                <div class="service">
                    <div class="service-item">
                        <h3>desarrolladores web</h3>
                    </div>
                    <div class="service-img">
                        <img src="{{url_for('static', filename='img/programando-pagina-web.jpg')}}" alt="codeando web">
                    </div>
                    <div class="overlay">
                        <h4>Colabora con desarrolladores web que construyen sitios funcionales y atractivos. 
                            Desde tiendas en línea hasta blogs personales, 
                            busca y encontrarás.</h4>
                    </div>
                </div>
            </a>
        </section>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{{url_for('static', filename='js/script.js')}}"></script>
{% endblock %}