
<!-- home perfil -->

{% extends "base_template.html" %}


{% block title %}
    Perfil
{% endblock %}

{% block link %}
<link rel="stylesheet" href="{{url_for('static', filename='css/perfil_v2.css')}}">
{% endblock %}

{% block content %}

<div class="alto_fondo">
    <div class="container">
        <div class="profile-sidebar">
            <div class="profile-header">
                {% if not proveedor.usuario.foto_perfil %}
                <img src="{{ url_for('static', filename='img/default_coco-chan.png') }}" alt="sin_foto_de_perfil" class="profile-picture">
                {% else %}
                <img src="{{ url_for('static', filename=proveedor.usuario.foto_perfil) }}" alt="Foto_de_perfil" class="profile-picture">
                {% endif %}
                <div class="user-details">
                    <h1>{{proveedor.usuario.nombre}} {{ proveedor.usuario.apellido }}</h1>
                    <label style="color: rgb(149, 5, 39);" for="categoria">{{ proveedor.categoria }}</label>
                </div>
            </div>
        </div>
        
        <div class="profile-main">
            <nav class="profile-nav">
                <div class="about_">
                    <button class="nav-item active" data-tab="profile">Perfil</button>
                    <button class="nav-item" data-tab="experience">Experiencia</button>
                    <button class="nav-item" data-tab="contacto">Contacto</button>
                </div>
            </nav>
            <div class="profile-content">
                <div id="profile" class="tab-content active">
                    <h2>Biografia</h2>
                    {% if proveedor.usuario.biografia %}
                        {{ proveedor.usuario.biografia }}
                    {% elif not proveedor.usuario.biografia %}
                        <p>No se a proporcionado información.</p>
                    {% endif %}
                </div>
                <div id="experience" class="tab-content">
                    <p>No se a proporcionado información.</p>
                </div>
                <div id="contacto" class="tab-content">
                    {% if proveedor.usuario.proveedor %}
                        <!-- <strong><label for="telefono">Número de telefono:</label></strong>
                        <p>{{ proveedor.telefono }}</p> -->
                    {% endif %}
                    <strong><label for="correo">Correo Electrónico</label></strong>
                    <p>{{ proveedor.usuario.correo }}</p>
                </div>

            </div>
        </div>
    </div>
</div>

    <!-- {% block script %}
    <script src="{{url_for('static', filename='js/perfilv2.js')}}"></script>
    {% endblock %} -->
{% endblock %}