
<!-- home perfil -->

{% extends "base_template.html" %}


{% block title %}
    Perfil
{% endblock %}

{% block link %}
<link rel="stylesheet" href="{{url_for('static', filename='css/perfil_v2.css')}}">
{% endblock %}

{% block content %}

<div class="alto_fondo">
    <div class="container">
        <div class="profile-sidebar">
            <div class="profile-header">
                <img src="https://via.placeholder.com/150" alt="" class="profile-picture">
                <div class="user-details">
                    <h1>{{proveedor.usuario.nombre}} {{ proveedor.usuario.apellido }}</h1>
                    <p>{{proveedor.usuario.correo}}</p>
                    <p>{{ proveedor.usuario.telefono }}</p>
                </div>
            </div>
        </div>
        
        <div class="profile-main">
            <nav class="profile-nav">
                <div class="about_">
                    <button class="nav-item active" data-tab="profile">Perfil</button>
                    <button class="nav-item" data-tab="experience">Experiencia</button>
                    <button class="nav-item" data-tab="contacto">Contacto</button>
                </div>
            </nav>
            <div class="profile-content">
                <div id="profile" class="tab-content active">
                    <h2>Biografia</h2>
                    <p>perfil de categoria</p>
                    
                    <h2>Intereses</h2>
                    <ul>
                        <li>Proin quis tortor orci. Etiam at risus et justo</li>
                        <li>In hac habitasse platea dictumst</li>
                        <li>Proin mattis sodales diam, at molestie nec</li>
                        <!-- <li>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor</li>
                        <li>Vivamus ut mollis quam. Morbi in commodo nulla</li>
                        <li>Quisque lacus quam, egestas ac tincidunt a, lacinia vel velit</li>
                        <li>Class aptent taciti sociosqu ad litora torquent per</li> -->
                    </ul>
                </div>
                <div id="experience" class="tab-content">
                    <p>Experiencia aqui</p>
                </div>
                <div id="contacto" class="tab-content">
                    <p>redes sociales</p>
                </div>

            </div>
        </div>
    </div>
</div>

    <!-- {% block script %}
    <script src="{{url_for('static', filename='js/perfilv2.js')}}"></script>
    {% endblock %} -->
{% endblock %}