
<!-- PERFIL PROPIO -->

{% extends "base_template.html" %}


{% block title %}
    Mi perfil
{% endblock %}

{% block link %}
<link rel="stylesheet" href="{{url_for('static', filename='css/perfil_v2.css')}}">
{% endblock %}

{% block content %}

<div class="alto_fondo">
    <div class="container">
        <div class="profile-sidebar">
            <div class="profile-header">
                {% if usuario.foto_perfil: %}
                    <img src="{{ url_for('static', filename=usuario.foto_perfil) }}"  alt="{{usuario.foto_perfil}}" class="profile-picture">
                {% else: %}
                    <img src="https://via.placeholder.com/150" alt="sin foto de perfil" class="profile-picture">
                {% endif %}
                <div class="user-details">
                    <h1>{{ usuario.nombre }} {{ usuario.apellido }}</h1>
                    {% if usuario.miembro == True %}
                        <p style="color:green;">Cuenta Profesional Activa</p>
                        <p style="color: cornflowerblue;">{{ usuario.proveedor.categoria }}</p>
                    {% elif usuario.miembro == False %}
                        <p style="color:gray;" >Cliente</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="profile-main">
            <nav class="profile-nav">
                <div class="about_">
                    <button class="nav-item active" data-tab="profile">Perfil</button>
                    <button class="nav-item" data-tab="contacto">Contacto</button>
                    <button class="nav-item" data-tab="opt_button">Configuración de perfil</button>
                </div>
            </nav>

            <div class="profile-content">
                <div id="profile" class="tab-content active">
                    <h2>Biografia</h2>
                    {% if usuario.biografia %}
                        {{ usuario.biografia }}
                    {% elif not usuario.biografia %}
                        <a href="/perfil/me/editar" style="color: rgb(69, 98, 196);" class="nav-item" >Agregar descripción</a>
                    {% endif %}
                </div>

                <div id="contacto" class="tab-content">
                    {% if usuario.proveedor %}
                        <strong><label for="telefono">Número de telefono:</label></strong>
                        <p>{{ usuario.proveedor.telefono }}</p>
                    {% endif %}
                    <strong><label for="correo">Correo Electrónico</label></strong>
                    <p>{{ usuario.correo }}</p>
                </div>

                </div>
                <div id="opt_button" class="tab-content utm">
                    <a href="/perfil/me/editar"><button class="btn btn-primary">Editar Perfil</button></a>
                    {% if usuario.miembro == False %}
                        <a href="/perfil/me/verificar"><button class="btn btn-success">Validar Perfil</button></a>
                    {% elif usuario.miembro == True %}
                        <a href="/prof/eliminar"><button class="btn btn-warning">Eliminar profesion</button></a>
                    {% endif %}
                    <a href="/cuenta/logout"><button class="btn btn-secondary">Cerrar sesión</button></a>
                    <a href="/cuenta/eliminar"><button class="btn btn-danger">Eliminar cuenta</button></a>
                </div>
            </div>
        </div>
    </div>
</div>

    {% block script %}
    <script src="{{url_for('static', filename='js/perfilv2.js')}}"></script>
    {% endblock %}
{% endblock %}