{% extends 'base_template.html' %}

{% block title %}
Perfiles en sección video
{% endblock %}

{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/estiloBaseCategorias.css') }}">
{% endblock %}

{% block content %}
    <div class="main">
    {% for proveedor in proveedores %}
        <section id="perfiles">
            <a href="/perfil/view/{{proveedor.id}}">
                <div class="profile" onclick="showProfile('perfil1')">
                    <img src="{{ url_for('static', filename=proveedor.usuario.foto_perfil) }}" alt="Profile_picture" width="200px" class="profile-picture">
                    <div class="summary">
                        <h3>{{ proveedor.usuario.nombre }} {{ proveedor.usuario.apellido }}</h3>
                        <p>{{ proveedor.usuario.correo }}</p>
                        <p>{{ proveedor.categoria }}</p>
                    </div>
                </div>
            </a>
        </section>
    {% endfor %}
    </div>
{% endblock %}
