
{% extends "base_template.html" %}

{% block title %}
    Comprobante
{% endblock %}

{% block link %}
{% endblock %}

{% block content %}
<div class="container mb-5">
    <h1 class="my-4" style="text-align: center;">Validar Perfil</h1>
    <center><p>Antes de comenzar a ofrecer tu perfil tienes que confirmar algunos datos</p></center>

    <form action="/validar" class="form-upg" method="POST">
        {{ form_validar.hidden_tag() }}

        <div class="mb-3">
            {{ form_validar.edad.label }}
            {{ form_validar.edad(class='form-control') }}
            {% for error in form_validar.edad.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="mb-3">
            {{ form_validar.telefono.label }}
            {{ form_validar.telefono(class='form-control') }}
            {% for error in form_validar.telefono.errors %}
                <span style="color:red;">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="mb-3">
            {{ form_validar.categoria.label }}
            {{ form_validar.categoria(class='form-control') }}
            {% for error in form_validar.categoria.errors %}
                <span style="color:red;">{{ error }}</span>
            {% endfor %}
        </div>
        {{ form_validar.submit(class='btn btn-primary') }}
        <button type="button" class="btn btn-danger" onclick="window.location.href='/perfil/me'">Cancelar</button>
        
    </form>
    
</div>
{% endblock %}